name: Run Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync --extra dev


      - name: Run Django checks
        run: uv run python manage.py check
        env:
          DJANGO_SETTINGS_MODULE: config.settings_test
          TMDB_READ_ACCESS_TOKEN: ${{ secrets.TMDB_READ_ACCESS_TOKEN }}


      - name: Check for missing migrations
        run: uv run python manage.py makemigrations --check --dry-run
        env:
          DJANGO_SETTINGS_MODULE: config.settings_test
          TMDB_READ_ACCESS_TOKEN: ${{ secrets.TMDB_READ_ACCESS_TOKEN }}


      - name: Run tests
        run: uv run pytest
        env:
          DJANGO_SETTINGS_MODULE: config.settings_test
          TMDB_READ_ACCESS_TOKEN: ${{ secrets.TMDB_READ_ACCESS_TOKEN }}
